/*Layout: Mobile: 375px ; Desktop: 1440px*/

.attribution { font-size: 11px; text-align: center; } /*Given for the footer*/
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap'); /*Import font needed for project*/
/*font-family: 'Outfit', sans-serif;*/
/*Font size (paragraph): 18px*/

:root{ /*Added universal colors*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue-main-BG: hsl(217, 54%, 11%);
    --dark-blue-card-BG: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

img{ /*Image wont overflows its container*/
    max-width: 100%;
}

*{ /*Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main{
    background-color:var(--dark-blue-main-BG);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article{ /*Container for Card*/
    background-color: var(--dark-blue-card-BG);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    max-width: 350px;
}

.NFT{ /*NFT Image*/
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.title{ /*Title of the Card: Equilibrium #3429*/
    color: var(--white);
    margin-bottom: 1rem;
    font-weight: 400;

}

.description{ /*Our Equilibrium collection promotes balance and calm.*/
    color: var(--soft-blue);
    font-size: 18px;
    margin-bottom: 1rem;
}

.price-and-time{ /*Container for price and time*/
    display:flex;
    margin-bottom: 1rem;
}

.price-container{ /*Container for price */
    display: flex;
    gap: 0.60rem;
}

.price{
    color: var(--cyan);
}

.time{
    color: var(--soft-blue);
}

.time-container{ /*Container for time */
    display: flex;
    margin-left: auto; 
    margin-right: 0;
    gap: 0.60rem;
}

.hr{
    margin-bottom: 1rem;
    height: 1px;
    background-color:var(--soft-blue) ;
    border: none;
}

.avatar{
    max-width: 45px;
}

.acknowledgement{
    display: flex;
    align-items: center;
    gap: 1em;
}


.author{
    color: var(--white);
}

article span{
    color: var(--soft-blue);
}

.author:hover,
.title:hover{
    color: var(--cyan);
    cursor: pointer;
}

picture{
    position: relative;
}

.overlay{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

picture:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

picture:hover .NFT{
    opacity: 0.5;
}